# ignore .tex file for languages
Report/**/* linguist-vendored
Report/* linguist-vendored
working_dir/* linguist-vendored
working_dir/**/* linguist-vendored
working_dir/**/*.nb linguist-vendored
*.tex linguist-vendored
